<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagepath}}" alt="{{recipe.name}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdowndirective>
            <button class="btn btn-primary dropdown-toggle" >Manage Recipe<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a  (click)="toshoppinglist()" style="cursor:pointer;">To Shopping List</a></li>
                <li><a style="cursor:pointer;" (click)="gotoedit()">Edit Recipe</a></li>
                <li><a style="cursor:pointer;" (click)="ondeleterecipe()">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
    </div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" 
            *ngFor="let ing of recipe.ingredient">
{{ing.name}}-{{ing.amount}}
            </li>
        </ul>
    </div>
</div>